{% extends 'user/base_user.html' %}
{% load static %}

{% block EXTJS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/user/js/user_register.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="container">

        <form method="post" action="" enctype="multipart/form-data" onsubmit="return check_input()">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">用户</label>
                <input id="username" type="text" name="username" class="form-control" placeholder="用户名">
                <p id="username_infoa" style="color: #f00;" hidden>用户名已存在</p>
                <p id="username_infob" style="color: #0f0;" hidden>用户名有效</p>
                <span id="username_info"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">邮箱</label>
                <input type="email" name="email" class="form-control" placeholder="邮箱">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input id="password" type="text" name="password" class="form-control" placeholder="密码">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">确认密码</label>
                <input id="password_confirm" type="text" class="form-control" placeholder="确认密码">
                <span id="password_confirm_info"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputFile">头像</label>
                <input name="icon" type="file">
            </div>

            <input type="submit" class="btn btn-success btn-block" value="注册">
        </form>

        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script>
            $(function () {
                var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                $('#username').on('blur', function () {
                    var value = $('#username').val();
                    $.ajax({
                        url: '/axf/verify_user/',
                        type: 'POST',
                        data: {'value': value},
                        dataType: 'json',
                        headers: {'X-CSRFToken': csrf},
                        success: function (msg) {
                            var txt = document.getElementById('username');
                            if(msg.user){
                                {#alert('用户已经存在');#}
                                $('#username_infoa').show();
                                txt.focus();
                                $('#username').focus()
                            }else {
                                {#alert('用户名有效');#}
                                $('#username_infoa').hide();
                                $('#username_infob').show();
                            }

                        },
                        error: function () {

                        }
                    })
                })
            })
        </script>


    </div>



{% endblock %}
